<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>

	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				
	    		<ul>
					<li><a href="https://instagram.com/bryansatmul_">Instagram</a></li>
					<li><a href="https://www.youtube.com/watch?v=ux3cPwC507U&list=PLIJsl6YfUBxEJL4E60BpGXpJ52vdmANPh">Youtube</a></li>
	        		<li><a href="https://github.com/satmul">github.com/satmul</a></li>
				</ul>
			</footer>
		</body>
	</html>
